name: Deploy to Render

on:
  push:
    tags:
      - 'v*'

jobs:
  testing:
    name: Run Tests
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: rubikhub_root_password
          MYSQL_DATABASE: rubikhubdb_test
          MYSQL_USER: rubikhub_user
          MYSQL_PASSWORD: rubikhub_password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        env:
          FLASK_ENV: testing
          MARIADB_HOSTNAME: 127.0.0.1
          MARIADB_PORT: 3306
          MARIADB_TEST_DATABASE: rubikhubdb_test
          MARIADB_USER: rubikhub_user
          MARIADB_PASSWORD: rubikhub_password
        run: |
          pytest app/modules/ --ignore-glob='*selenium*'

  deploy:
    name: Deploy to Render
    needs: testing
    runs-on: ubuntu-latest
    outputs:
      deploy_status: ${{ job.status }}
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Render
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"
  notify:
    name: Notify Discord
    needs: deploy
    uses: ./.github/workflows/CD_discord_notification.yml
    with:
      deploy_status: ${{ needs.deploy.result }}
    secrets:
      DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}


