name: Integration deploy to Render

on:
  push:
    branches:
      - trunk

jobs:
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    outputs:
      deploy_status: ${{ job.status }}
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Render
        env:
          deploy_url: ${{ secrets.RENDER_INTEGRATION_HOOK_URL }}
        run: |
          curl "$deploy_url"
